html,body{
  background-color: #fff;
  
  font-family: 'segoe', Fallback, sans-serif;

  height:100vh;
  display:flex;
	justify-content:center;
	align-items:center;
	/*height:100%;*/
	text-align: center;
  cursor: default;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  /*position: relative;*/
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
    background: transparent; 
    width:0px;
    /*opacity:1;*/
    margin:0;
    padding:0;
    border:0;
}


@font-face {
  font-family: 'seqoe';
  src:  url('font/segoe_ui.ttf')  format('truetype'); /* Safari, Android, iOS */

}

p {
  font-weight: 545;
}

.kek {
  position: absolute;
	width: 30vw;
	height: 30vh;
  padding: 5px;
  overflow: visible;

	/*box-shadow: 10px 10px 5px 5px blue;*/
	/*background-color: blue;*/
}

canvas {
    position: fixed;
        top: 0; 
        z-index: -1;
	/*z-index: -1;*/
}
a {
  text-decoration: none;
  color: blue;
}


a:active{
  text-decoration: none;

  color: blue;
}

a:visited {
  color:grey;
}

.hatra{
  transition: transform 2s;

}

.hatra:hover {
/*  transform: rotate(90deg);
*/  transform: scale(0.6);

  color: blue;
}

.forgo{
  transition: transform 2s;
  text-decoration: none;
  /*color: blue;*/

}

.forgo:hover {
  transform: rotate(90deg);
  text-decoration: none;

  color: blue;
}


.szeles{
  transition: transform 2s;

}

.szeles:hover {
  letter-spacing: .5em;
  -webkit-transition: letter-spacing .6s ease;
  transition: letter-spacing .6s ease;
  color: blue;
  /*transform: scaleX(1.4);*/
  /*transform: rotate(180deg);*/

  /*color: yellow;*/
}

.torz{
  transition: transform 1s;

}

.torz:hover {

 -ms-transform: skewX(30deg); /* IE 9 */
  transform: skewX(30deg); /* Standard syntax */
  color: blue;

}
#cont{
  color: black;
}
#cont:hover{
  color:blue;
}
.dev {
  /*position: relative;*/
  bottom:0.5vh;
  /*left: vw;*/
  font-size: 12px;
  position: absolute;
  /*z-index: -5;*/
}
.dev:hover{
  color:white;
}
@media only screen and (max-width: 600px) {
     .kek {
        position: absolute;
        height: auto;
        width: 40vw;
        overflow: visible;
     /*   overflow-x: visible;*/

        /*overflow-x: auto;*/

      }
    }